
.Main_Nav_List{

  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(185, 185, 184);
  height: 60px;
  margin: 0;
  padding: 0;

}


 .Main_Nav_UserLinks{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;

}

.main_nav_item{

  margin-right: 20px;
}
