
.concertPage{
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-bottom: 100px;
}

.table{
  width: 80%;
  border-collapse: collapse;
  overflow: auto;

}

    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;

}

.locationCell{
  display: flex;
}

.buyButton{
  margin-left: auto;

}